# Aliases
if [ "$0" = "-bash" ]; then
    # Keep these for bash
    alias ls='ls -G'
    alias ll='ls -lhG'
    alias l='ls -lhG'
    alias la='ls -ahG'
fi
alias hig='history | grep --color'
alias top=htop
alias get=git
alias gti=git
alias tags='git tag -l | sort -V'
alias br='git branch'
alias st='git status'
alias prune='git remote prune origin'
alias knive=knife
alias VAGRANTDESTROY='vagrant destroy'
alias clera=clear
alias claer=clear

# Nifty Python Aliases
alias nosetests="nosetests --with-yanc"
alias email='python -m smtpd -n -c DebuggingServer localhost:1025'
alias serve='python3 -m http.server'
alias rmpyc='find ./ -type f -name "*.pyc" -exec rm {} \;'
alias mp3player="find . -name '*.mp3' -exec afplay '{}' \;"
alias m4aplayer="find . -name '*.m4a' -exec afplay '{}' \;"
alias ipython_console="ipython qtconsole --pylab=inline"
alias 936='python -m ninethreesix.password'

# Pure Awesome. (brew install sox to get the play command)
alias impulsepower="play -n -c1 synth whitenoise band -n 100 20 band -n 50 20 gain +25  fade h 1 864000 1"

# Alias for Love2d
alias love="/Applications/love.app/Contents/MacOS/love"
