# Aliases
if [ "$0" = "-bash" ]; then
    # Keep these for bash
    alias ls='ls -G'
    alias ll='ls -lhG'
    alias l='ls -lhG'
    alias la='ls -ahG'
fi
alias hig='history | grep --color'
alias top=htop
alias get=git
alias gti=git
alias tags='git tag -l | sort -V'
alias br='git branch'
alias st='git status'
alias prune='git remote prune origin'
alias knive=knife
alias VAGRANTDESTROY='vagrant destroy'
alias clera=clear
alias claer=clear
alias mypi=mypy

# Kiro CLI
alias q=kiro-cli

# A little experiment: shortcuts for ssh'ing into various things
# The .ssh_hosts file will contain aliases that look like:
#
#   alias ssh_hostname="ssh user@hostname.example.com"
#
if [ -f ~/.ssh_hosts ]; then
    . ~/.ssh_hosts
fi

# Nifty Python Aliases
alias nosetests="nosetests --with-yanc"
alias email='python -m smtpd -n -c DebuggingServer localhost:1025'
alias serve='python3 -m http.server'
alias rmpyc='find ./ -type f -name "*.pyc" -exec rm {} \;'
alias mp3player="find . -name '*.mp3' -exec afplay '{}' \;"
alias m4aplayer="find . -name '*.m4a' -exec afplay '{}' \;"
alias ipython_console="ipython qtconsole --pylab=inline"
alias 936='python -m ninethreesix.password'

# White noise generate... the sound of the Enterprise Bridge.
# Requires: brew install sox to get the play command
if command -v play; then
    alias impulsepower="play -n -c1 synth whitenoise band -n 100 20 band -n 50 20 gain +25  fade h 1 864000 1"
else
    echo "Install sox to enable impulsepower"
fi

# Alias for Love2d
if command -v love; then
    alias love=$(which love);
fi
