[user]
    name = Brad Montgomery
    email = brad@bradmontgomery.net
[github]
    user = bradmontgomery
    token = REALTOKENHERE
[core]
    autocrlf = false
    safecrlf = true
    editor = vim
    excludesfile = ~/.gitignore_global
    filemode = true
[alias]
    unstage = reset HEAD
    emrge = merge
    co = checkout
    ci = commit
    comit = commit
    st = status
    stat = status
    br = branch
    hist = log --graph --date=short --pretty=format:\"%Cred%h %Creset%ad | %s%Cgreen%d %Cblue[%an]%Creset\"
    type = cat-file -t
    dump = cat-file -p
    diff = diff --color
    dif = diff --color
    df = diff --color
    sl = stash list
[color]
    ui = true
    branch = true
    diff = true
    status = true
[color "branch"]
    current = yellow
    local = white
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = red
    untracked = cyan
    branch = magenta bold
[help]
    autocorrect = 1
[push]
    default = matching
[pager]
    branch = false
[pull]
	ff = only
